@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;800&display=swap');

* {
    font-family: 'Lato', 'sans-serif';
}

.kc-header {
    padding-top:2rem;
}
.kc-hero {
    height:600px;
    position:relative;
    background-size:cover;
    background-position:center center;
}
.kc-hero:after {
    content: '';
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    z-index:0;
}
.hero-content {
    z-index:1;
}

h1, h2, h1 > *, h2 > * {
    font-family: 'Abhaya Libre', serif;
}