@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;800&display=swap');

* {
    font-family: 'Lato', 'sans-serif';
}

a {
    color:#2A58A7;
    text-decoration:none;
    font-size:16px;
}

.kc-header {
    padding-top:2rem;
    transition:all 500ms;
}
.kc-hero {
    min-height:500px;
    position:relative;
    background-size:cover;
    background-position:center center;
    text-align:center;
}
.kc-hero:before {
    content: '';
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.75);
    z-index:0;
}
.header-svg {
    margin-top:3rem;
}
.header-svg-2 {
    position:absolute;
    top:-10px;
    opacity:0.5;
    width:90%;
    right:0;
}
.header-svg-wrap {
    position:relative;
    width:100%;
}

.hero-content {
    z-index:1;
    position:relative;
}
.header-content {
    z-index:2;
    position:relative;
}

h1, h2, h1 > *, h2 > * {
    font-family: 'Abhaya Libre', serif;
    font-weight:800;
}

.site-logo {
    width:150px;
    max-width:100%;
}

@media (min-width: 768px) {
    .kc-hero {
        min-height:600px;
        text-align:left;
    }
    .kc-hero:before {
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    }
    .site-logo {
        width:auto;
    }
    .header-svg {
        margin-top:0;
    }
}